body{
background-image: url('https://www.minecraft.net/content/dam/games/minecraft/key-art/Vanilla-PMP_Collection-Carousel-0_Buzzy-Bees_1280x768.jpg');
background-size: cover;
background-repeat: no-repeat;
  background-position: center;
  background-attachment: scroll;
}
